.taskListMain {
    border: 1px solid whitesmoke;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(240, 255, 255, 0.5);
    margin-right: 20px;
    min-width: 60%;
}

.taskList {
    list-style-type: none;
}

.taskListMain li {
    margin: 5px 0 10px 0;
    border-bottom: 1px solid whitesmoke;
}

@media (max-width: 800px) {
    .taskListMain {
        margin-right: 0;
        min-width: 100%;
        margin-bottom: 10px;
    }
}