.TaskForm {
    border: 1px solid whitesmoke;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(240, 255, 255, 0.5);
    max-width: 40%;
    display: flex;
    flex-direction: column
}

.button {
    width: 100%;
}

